<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Orange 9</title>
<link rel="stylesheet" href="../css/bootstrap.min.css"/>
<link rel="stylesheet" href="../css/header.css"/>
<link rel="stylesheet" href="../css/combo.css"/>
<script src="../js/jquery-1.11.2.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
</head>
<body>

<div class="header">
	<img class="logo" src="../images/logo.jpg"/>
	<span>九橙</span>
	<div class="nav-btn">用户登录</div>
	<div class="nav-btn">常见问题</div>
	<div class="nav-btn" onclick="show()">作品展示</div>
	<div class="nav-btn" onclick="order()">在线预约</div>
	<div class="nav-btn nav-btn-selected">服务套餐</div>
	<div class="nav-btn" onclick="index()">首页</div>
</div>

<div class="container">
<div class="row">
<div class="combo-block col-lg-offset-1 col-lg-11">
	<img src="../images/combo/c_1.jpg"/>
	<p>套餐A</p>
	<div class="btn-order trans-bc" onclick="order()">在线预约</div>
</div>
</div>

<div class="row">
<div class="combo-block col-lg-offset-1 col-lg-11">
	<img src="../images/combo/c_2.jpg"/>
	<p>套餐B</p>
	<div class="btn-order trans-bc" onclick="order()">在线预约</div>
</div>
</div>

<div class="row">
<div class="combo-block col-lg-offset-1 col-lg-11">
	<img src="../images/combo/c_3.jpg"/>
	<p>套餐C</p>
	<div class="btn-order trans-bc" onclick="order()">在线预约</div>
</div>
</div>

<div class="row">
<div class="combo-block col-lg-offset-1 col-lg-11">
	<img src="../images/combo/c_4.jpg"/>
	<p>套餐D</p>
	<div class="btn-order trans-bc" onclick="order()">在线预约</div>
</div>
</div>

<div class="row">
<div class="combo-block col-lg-offset-1 col-lg-11">
	<img src="../images/combo/c_5.jpg"/>
	<p>套餐E</p>
	<div class="btn-order trans-bc" onclick="order()">在线预约</div>
</div>
</div>

<div class="row">
<div class="combo-block col-lg-offset-1 col-lg-11">
	<img src="../images/combo/c_6.jpg"/>
	<p>套餐F</p>
	<div class="btn-order trans-bc" onclick="order()">在线预约</div>
</div>
</div>
</div>

<div class="footer border-top">
	杭州九橙文化创意有限公司 | Copyrights Orange 9. ALL Rights Reserved.
</div>

<script>
	function index() {
		location.assign("../index.html");
	}
	
	function show() {
		location.assign("show.html");
	}
	
	function order() {
		location.assign("order.html");
	}
</script>
</body>
</html>