<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Orange 9</title>
<link rel="stylesheet" href="../css/bootstrap.min.css"/>
<link rel="stylesheet" href="../css/header.css"/>
<link rel="stylesheet" href="../css/order.css"/>
<script src="../js/jquery-1.11.2.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/views-nav.js"></script>
</head>
<body>

<div class="header">
	<span class="orange">ORANGE</span>
	<span class="nine">9</span>
	<div class="nav-btn" onclick="login()">用户登录</div>
	<div class="nav-btn" onclick="question()">常见问题</div>
	<div class="nav-btn" onclick="show()">作品展示</div>
	<div class="nav-btn nav-btn-selected">在线预约</div>
	<div class="nav-btn" onclick="combo()">服务套餐</div>
	<div class="nav-btn" onclick="index()">首页</div>
</div>

<div class="container container-size">
<div class="row">
<div class="col-lg-offset-2 col-lg-8 order-bar">
	<div id="step1" class="btn-step"></div>
	<div class="btn-line"></div>
	<div id="step2" class="btn-hollow"></div>
	<div class="btn-line"></div>
	<div id="step3" class="btn-hollow"></div>
	<div class="btn-line"></div>
	<div id="step4" class="btn-hollow"></div>
	<div class="btn-line"></div>
	<div id="step5" class="btn-hollow"></div>
	<div class="btn-line"></div>
	<div id="step6" class="btn-hollow"></div>
</div>
</div>

<!-- Step 1 -->
<div id="step-info-1" class="row step">
<div class="col-lg-offset-2 col-lg-8 order-info">
	<p>预约档期1 - 选择套餐</p>
	<p class="order-tip">请选择你要预定的拍摄系列，点击<a href="combo.html" target="_blank">这里</a>可以了解套餐详情。</p>
</div>
</div>

<div id="step-block-1" class="row step">
<div class="col-lg-offset-2 col-lg-8">
	<div class="order-block order-border order-hover trans-bc" onclick="selectCombo(1)">
		<p class="fleft">ORANGE-A</p>
		<p class="fright">套餐A ></p>
	</div>
	<div class="order-block order-border order-hover trans-bc" onclick="selectCombo(2)">
		<p class="fleft">ORANGE-B</p>
		<p class="fright">套餐B ></p>
	</div>
	<div class="order-block order-border order-hover trans-bc" onclick="selectCombo(3)">
		<p class="fleft">ORANGE-C</p>
		<p class="fright">套餐C ></p>
	</div>
	<div class="order-block order-border order-hover trans-bc" onclick="selectCombo(4)">
		<p class="fleft">ORANGE-D</p>
		<p class="fright">套餐D ></p>
	</div>
	<div class="order-block order-border order-hover trans-bc" onclick="selectCombo(5)">
		<p class="fleft">ORANGE-E</p>
		<p class="fright">套餐E ></p>
	</div>
	<div class="order-block order-border order-hover trans-bc" onclick="selectCombo(6)">
		<p class="fleft">ORANGE-F</p>
		<p class="fright">套餐F ></p>
	</div>
</div>
</div>

<!-- Step 2 -->
<div id="step-info-2" class="row step">
<div class="col-lg-offset-2 col-lg-8 order-info">
	<p>预约档期2 - 阅读条款</p>
	<p class="order-tip">预约服务前，请仔细阅读以下服务协议条款（简称“条款”）。以下协议条款将管理你使用Orange 9服务（简称“服务”）的权限。如果你同意并遵守这些条款，请点击“同意以上条款”按钮开始预定档期服务。
	</p>
</div>
</div>

<div id="step-block-2" class="row step">
<div class="col-lg-offset-2 col-lg-8">
	<div class="agreement-block order-border">
		（以下内容从Nico拷贝，后期修改）拍摄服务协议：<br/>

		经我们双方共同协商，就NICOKIDS儿童摄影（以下简称：NICOKIDS）为您提供儿童影像服务，达成如下服务协议：<br/>

		1、拍摄项目为您选择预定的套餐，拍摄服务的收费总额即为您预定的套餐价格。套餐所付价格即为全部服务费用，过程中没有二次消费。所有拍摄均不提供服饰和化妆服务，均需客人自带准备的服饰，我们也将为您提供意见参考。（服饰准备详见“常见问题”）<br/>

		2、NICOKIDS为您提供您所预定套餐内的所有产品和服务。除此外，我们还提供其他有偿服务：如额外精修入册、增加升级相册、定制油画布画框和其他等产品。<br/>

		3、所有可预定的档期，已公布在预定系统。您在预定档期时，须向NICOKIDS支付500元定金（此定金含在套餐总额内）。我们不接受已预定成功的客人以各种形式退换档期，或转让给他人拍摄，同时也不接受不同系列之间套餐的变更，所有拍摄信息以您填写的内容为准。<br/>

		4、收取定金的目的是为了确定每位客人的拍摄意向。一旦确定拍摄意向，摄影师和助理就开始作拍摄准备，当然也是为了让您不随意变更或者被变更或被取消拍摄计划造成时间上的浪费。拍摄有效期为半年，如未来拍摄，我们将收取已支付的定金作为档期空缺的风险补偿。所有定金都不作退还，所以请您理解。<br/>

		5、拍摄当天，您须向NICOKIDS以现金的形式付清拍摄尾款。未支付定金的预订视为无效，由于未及时支付定金而导致超时定单被取消的，我们不承担任何责任。拍摄当天因不可避免的原因，如小朋友生病、恶劣天气状况等，可以与客服协调更换时间，更换拍摄的有效期为首次预定拍摄时间的半年内进行拍摄，费用不变。如超过时间，套餐价格如有更改，将按照新的套餐拍摄价格收费。<br/>

		6、我们按您所选择预定的套餐拍摄标准为您提供优质的服务，保证拍摄质量。但因我们的影像服务为创意拍摄，所以在拍摄前，请您考虑清楚再决定是否需要预定。在拍摄时，也请给予摄影师自由发挥的空间。如果拍摄已完成且您已确认照片没有问题，此后不再作退款或补拍。由于我们单方面的责任，导致拍摄无法开始或提前终止，我们将主动与您协商调换拍摄时间，也可以与您协商部分退款，部分退款的金额不超过您预定套餐价格的50%。如达成部分退款的协议，那么双方的服务关系将立即终止。在达成该退款协议之前拍摄或制作的照片或产品，NICOKIDS有权作报废处理。如不同意这一条款，将无法获得部分退款。如果您已确认过照片本身没有问题，但如相册、相框等实物印品存在错误或明显的瑕疵，我们给予免费更换同产品，但不作退款或替换等值产品的服务。如发现以上问题需要更换产品，在更换新品前必须向我们退回原有产品。<br/>

		7、NICOKIDS拥有所有拍摄照片的著作权（版权），我们在本营业场所、官方微博、官方微信有对所拍摄照片展示的权利。未经NICOKIDS同意，您不得将拍摄图片等资料外泄和转让至第三方。NICOKIDS也将保证恪守职业道德，不会将拍摄的图片和个人资料外泄或用于其他以盈利为目的的商业用途。如一方因以上问题给对方蒙受损失的，受损失方有追究对方责任和索赔的权利。<br/>

		8、作为拍摄对象（未成年子女）的监护人，您在NICOKIDS工作环境内，须管好未成年孩子，履行监护权。因看护不到位，造成被监护人伤害的，我们不承担相责任。<br/>

		9、NICOKIDS在为客人服务（拍摄）期间，须积极配合我们的拍摄工作，由于客人配合不积极或其他原因造成本协议约定的服务不能履行的，后果由客人承担。<br/>

		10、本协议执行期间，如遇不可抗力（包括但不限于因天气等原因导致无法按时完成拍摄），致使本协议无法履行时，双方应本着友善的态度协商解决，我们也会重新安排档期（有效期为首次预定拍摄时间的半年有效时间内进行拍摄）。<br/>

		11、所有原片，NICOKIDS将在成品交付后为您保存一年时间，到期后将全部删除，请您保存好与相册一同附送的光盘。如有遗失，一年内我们都将为您再次刻制寄送光盘文件（快递费用自理）。<br/>

		12、我们双方都可以对本协议的条款进行修改或作出补充，条款的修订须由双方以书面形式签定补充协议，补充协议与本协议具有同等法律效力。<br/>

		13、NICOKIDS保留对以上协议条款进行更改的权利。若希望在协议变更后继续使用我们提供的服务，您须同意接受任何更改后协议的约束。客人预定或购买NICOKIDS儿童摄影服务的权限是以遵守这些条款为明确条件的。<br/>

		本服务协议自您同意确认之日起生效。本协议内容如与国家相关法律、法规相悖，以法律、法规的规定为准。如违反了任何一项条款，都有可能导致我们终止向您提供服务。
	</div>
	<div class="agreement-btn order-border order-hover trans-bc" onclick="agreement()">同意以上协议</div>
	<div class="agreement-btn order-border order-hover trans-bc" onclick="index()">不同意</div>
</div>
</div>

<!-- Step 3 -->
<div id="step-info-3" class="row step">
<div class="col-lg-offset-2 col-lg-8 order-info">
	<p>预约档期3 - 选择日期</p>
	<p class="order-tip">请选择你要预定的拍摄日期。Orange 9半年开放一次档期，2015年1-6月的档期目前已经开放预定，7-12月的档期会在2015年5月开放预定。所有系列的所有套系都不指定摄影师拍摄。预定后，拍摄系列不做更改。
	</p>
</div>
</div>

<div id="step-block-3" class="row step">
<div class="col-lg-offset-2 col-lg-8">
	<div class="order-border order-time" style="float:left;">
		<div class="order-time-header">
			2015年3月
		</div>
		<div class="order-time-body">
			<div class="order-time-block">日</div>
			<div class="order-time-block">一</div>
			<div class="order-time-block">二</div>
			<div class="order-time-block">三</div>
			<div class="order-time-block">四</div>
			<div class="order-time-block">五</div>
			<div class="order-time-block" style="clear:right;">六</div>
			<div class="nav-btn order-time-block">1</div>
			<div class="nav-btn order-time-block">2</div>
			<div class="nav-btn order-time-block">3</div>
			<div class="nav-btn order-time-block">4</div>
			<div class="nav-btn order-time-block">5</div>
			<div class="nav-btn order-time-block">6</div>
			<div class="nav-btn order-time-block" style="clear:right;">7</div>
			<div class="nav-btn order-time-block">8</div>
			<div class="nav-btn order-time-block">9</div>
			<div class="nav-btn order-time-block">10</div>
			<div class="nav-btn order-time-block">11</div>
			<div class="nav-btn order-time-block">12</div>
			<div class="nav-btn order-time-block">13</div>
			<div class="nav-btn order-time-block" style="clear:right;">14</div>
			<div class="nav-btn order-time-block">15</div>
			<div class="nav-btn order-time-block">16</div>
			<div class="nav-btn order-time-block">17</div>
			<div class="nav-btn order-time-block">18</div>
			<div class="nav-btn order-time-block">19</div>
			<div class="nav-btn order-time-block">20</div>
			<div class="nav-btn order-time-block" style="clear:right;">21</div>
			<div class="nav-btn order-time-block">22</div>
			<div class="nav-btn order-time-block">23</div>
			<div class="nav-btn order-time-block">24</div>
			<div class="nav-btn order-time-block">25</div>
			<div class="nav-btn order-time-block">26</div>
			<div class="nav-btn order-time-block">27</div>
			<div class="nav-btn order-time-block" style="clear:right;">28</div>
			<div class="nav-btn order-time-block">29</div>
			<div class="nav-btn order-time-block">30</div>
			<div class="nav-btn order-time-block">31</div>
		</div>
	</div>
	<div class="order-time order-border" style="float:left;clear:right;">
		<div class="order-time-header">
			2015年4月
		</div>
		<div class="order-time-body">
			<div class="order-time-block">日</div>
			<div class="order-time-block">一</div>
			<div class="order-time-block">二</div>
			<div class="order-time-block">三</div>
			<div class="order-time-block">四</div>
			<div class="order-time-block">五</div>
			<div class="order-time-block" style="clear:right;">六</div>
			<div class="nav-btn order-time-block">1</div>
			<div class="nav-btn order-time-block">2</div>
			<div class="nav-btn order-time-block">3</div>
			<div class="nav-btn order-time-block">4</div>
			<div class="nav-btn order-time-block">5</div>
			<div class="nav-btn order-time-block">6</div>
			<div class="nav-btn order-time-block" style="clear:right;">7</div>
			<div class="nav-btn order-time-block">8</div>
			<div class="nav-btn order-time-block">9</div>
			<div class="nav-btn order-time-block">10</div>
			<div class="nav-btn order-time-block">11</div>
			<div class="nav-btn order-time-block">12</div>
			<div class="nav-btn order-time-block">13</div>
			<div class="nav-btn order-time-block" style="clear:right;">14</div>
			<div class="nav-btn order-time-block">15</div>
			<div class="nav-btn order-time-block">16</div>
			<div class="nav-btn order-time-block">17</div>
			<div class="nav-btn order-time-block">18</div>
			<div class="nav-btn order-time-block">19</div>
			<div class="nav-btn order-time-block">20</div>
			<div class="nav-btn order-time-block" style="clear:right;">21</div>
			<div class="nav-btn order-time-block">22</div>
			<div class="nav-btn order-time-block">23</div>
			<div class="nav-btn order-time-block">24</div>
			<div class="nav-btn order-time-block">25</div>
			<div class="nav-btn order-time-block">26</div>
			<div class="nav-btn order-time-block">27</div>
			<div class="nav-btn order-time-block" style="clear:right;">28</div>
			<div class="nav-btn order-time-block">29</div>
			<div class="nav-btn order-time-block">30</div>
			<div class="nav-btn order-time-block">31</div>
		</div>
	</div>
	<div class="order-time order-border" style="float:left;">
		<div class="order-time-header">
			2015年5月
		</div>
		<div class="order-time-body">
			<div class="order-time-block">日</div>
			<div class="order-time-block">一</div>
			<div class="order-time-block">二</div>
			<div class="order-time-block">三</div>
			<div class="order-time-block">四</div>
			<div class="order-time-block">五</div>
			<div class="order-time-block" style="clear:right;">六</div>
			<div class="nav-btn order-time-block">1</div>
			<div class="nav-btn order-time-block">2</div>
			<div class="nav-btn order-time-block">3</div>
			<div class="nav-btn order-time-block">4</div>
			<div class="nav-btn order-time-block">5</div>
			<div class="nav-btn order-time-block">6</div>
			<div class="nav-btn order-time-block" style="clear:right;">7</div>
			<div class="nav-btn order-time-block">8</div>
			<div class="nav-btn order-time-block">9</div>
			<div class="nav-btn order-time-block">10</div>
			<div class="nav-btn order-time-block">11</div>
			<div class="nav-btn order-time-block">12</div>
			<div class="nav-btn order-time-block">13</div>
			<div class="nav-btn order-time-block" style="clear:right;">14</div>
			<div class="nav-btn order-time-block">15</div>
			<div class="nav-btn order-time-block">16</div>
			<div class="nav-btn order-time-block">17</div>
			<div class="nav-btn order-time-block">18</div>
			<div class="nav-btn order-time-block">19</div>
			<div class="nav-btn order-time-block">20</div>
			<div class="nav-btn order-time-block" style="clear:right;">21</div>
			<div class="nav-btn order-time-block">22</div>
			<div class="nav-btn order-time-block">23</div>
			<div class="nav-btn order-time-block">24</div>
			<div class="nav-btn order-time-block">25</div>
			<div class="nav-btn order-time-block">26</div>
			<div class="nav-btn order-time-block">27</div>
			<div class="nav-btn order-time-block" style="clear:right;">28</div>
			<div class="nav-btn order-time-block">29</div>
			<div class="nav-btn order-time-block">30</div>
			<div class="nav-btn order-time-block">31</div>
		</div>
	</div>
	<div class="order-time order-border" style="float:left;">
		<div class="order-time-header">
			2015年6月
		</div>
		<div class="order-time-body">
			<div class="order-time-block">日</div>
			<div class="order-time-block">一</div>
			<div class="order-time-block">二</div>
			<div class="order-time-block">三</div>
			<div class="order-time-block">四</div>
			<div class="order-time-block">五</div>
			<div class="order-time-block" style="clear:right;">六</div>
			<div class="nav-btn order-time-block">1</div>
			<div class="nav-btn order-time-block">2</div>
			<div class="nav-btn order-time-block">3</div>
			<div class="nav-btn order-time-block">4</div>
			<div class="nav-btn order-time-block">5</div>
			<div class="nav-btn order-time-block">6</div>
			<div class="nav-btn order-time-block" style="clear:right;">7</div>
			<div class="nav-btn order-time-block">8</div>
			<div class="nav-btn order-time-block">9</div>
			<div class="nav-btn order-time-block">10</div>
			<div class="nav-btn order-time-block">11</div>
			<div class="nav-btn order-time-block">12</div>
			<div class="nav-btn order-time-block">13</div>
			<div class="nav-btn order-time-block" style="clear:right;">14</div>
			<div class="nav-btn order-time-block">15</div>
			<div class="nav-btn order-time-block">16</div>
			<div class="nav-btn order-time-block">17</div>
			<div class="nav-btn order-time-block">18</div>
			<div class="nav-btn order-time-block">19</div>
			<div class="nav-btn order-time-block">20</div>
			<div class="nav-btn order-time-block" style="clear:right;">21</div>
			<div class="nav-btn order-time-block">22</div>
			<div class="nav-btn order-time-block">23</div>
			<div class="nav-btn order-time-block">24</div>
			<div class="nav-btn order-time-block">25</div>
			<div class="nav-btn order-time-block">26</div>
			<div class="nav-btn order-time-block">27</div>
			<div class="nav-btn order-time-block" style="clear:right;">28</div>
			<div class="nav-btn order-time-block">29</div>
			<div class="nav-btn order-time-block">30</div>
			<div class="nav-btn order-time-block">31</div>
		</div>
	</div>
</div>
</div>

<!-- Step 4 -->
<div id="step-info-4" class="row step">
<div class="col-lg-offset-2 col-lg-8 order-info">
	<p>预约档期4 - 填写信息</p>
	<p class="order-tip">请填写您的拍摄信息
	</p>
</div>
</div>

<div id="step-block-4" class="row step">
<div class="col-lg-offset-2 col-lg-8">
	<div class="combo-info">
		<p class="combo-header">套餐信息</p>
		<p>已选套餐：ORANGE9-A</p>
		<p>拍摄时间：2015年4月1日</p>
		<p>拍摄地点：滨江区南环路1672号网投创意园1号楼113</p>
	</div>
	<div class="self-info">
		<p class="combo-header">个人信息</p>
		<form class="form-horizontal">
			<div class="form-group">
				<label for="i-name" class="col-sm-4 control-label">您的称呼：</label>
				<div class="col-sm-8">
					<input type="text" class="form-control" id="i-name" placeholder="如：李学华">
				</div>
			</div>
			<div class="form-group">
				<label for="i-phone" class="col-sm-4 control-label">您的手机：</label>
				<div class="col-sm-8">
					<input type="text" class="form-control" id="i-phone" placeholder="如：1388686983">
				</div>
			</div>
			<div class="form-group">
				<label for="i-email" class="col-sm-4 control-label">您的邮箱：</label>
				<div class="col-sm-8">
					<input type="email" class="form-control" id="i-email" placeholder="如：fucktuciababy@gmail.com">
				</div>
			</div>
			<div class="form-group">
				<label for="i-taobao" class="col-sm-4 control-label">您的淘宝店：</label>
				<div class="col-sm-8">
					<input type="text" class="form-control" id="i-taobao" placeholder="淘宝地址或店铺名称">
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-4 col-sm-8">
					<div class="order-block order-border order-hover trans-bc" style="width:105px;height:55px;" onclick="submitInfo()">
						提交订单
					</div>
					<!--
					<button class="btn btn-default" onclick="submitInfo()"></button>
					-->
				</div>
			</div>
		</form>
	</div>
</div>
</div>

<!-- Step 5 -->
<div id="step-info-5" class="row step">
<div class="col-lg-offset-2 col-lg-8 order-info">
	<p>预约档期5 - 确认付款</p>
	<p class="order-tip">请仔细核对您的拍摄信息，并在线支付</p>
</div>
</div>

<div id="step-block-5" class="row step">
<div class="col-lg-offset-2 col-lg-8">
	<p class="combo-header">订单详情</p>
	<p>已选套餐：ORANGE9-A</p>
	<p>拍摄时间：2015年4月1日</p>
	<p>拍摄地点：滨江区南环路1672号网投创意园1号楼113</p>
	<p>您的称呼：李学华</p>
	<p>您的手机：1388686983</p>
	<p>您的邮箱：fucktuciababy@gmail.com</p>
	<p>淘宝店铺：Fuck Tucia to Die</p>
	<p class="comfirm-pay">确认支付：<img src="../images/alipay.png" onclick="pay()"/></p>
</div>
</div>

<!-- Step 6 -->
<div id="step-info-6" class="row step">
<div class="col-lg-offset-2 col-lg-8 order-info">
	<p>预约档期6 - 交易完成</p>
	<p class="order-tip">您的订单已受理，我们会尽快安排您的订单拍摄，感谢您的支持！</p>
</div>
</div>

<div id="step-block-6" class="row step">
<div class="col-lg-offset-2 col-lg-8">
	<div class="order-block order-border order-hover trans-bc" style="width:100px;height:55px;" onclick="index()">
		< 返回
	</div>
</div>
</div>

</div>

<div class="footer border-top">
	<div>
		<div id="block1" class="orange-block orange-trans bc-orange2"></div>
		<div id="block2" class="orange-block orange-trans bc-orange1"></div>
		<div id="block3" class="orange-block orange-trans bc-orange0">杭</div>
		<div id="block4" class="orange-block orange-trans bc-orange1">州</div>
		<div id="block5" class="orange-block orange-trans bc-orange2">九</div>
		<div id="block6" class="orange-block orange-trans bc-orange3">橙</div>
		<div id="block7" class="orange-block orange-trans bc-orange0">文</div>
		<div id="block8" class="orange-block orange-trans bc-orange1">化</div>
		<div id="block9" class="orange-block orange-trans bc-orange2">创</div>
		<div id="block10" class="orange-block orange-trans bc-orange3">意</div>
		<div id="block11" class="orange-block orange-trans bc-orange0">有</div>
		<div id="block12" class="orange-block orange-trans bc-orange1">限</div>
		<div id="block13" class="orange-block orange-trans bc-orange2">公</div>
		<div id="block14" class="orange-block orange-trans bc-orange3">司</div>
		<div id="block15" class="orange-block orange-trans bc-orange2"></div>
		<p style="float:left;margin-left: 5px;margin-top: 5px;">| Copyrights Orange 9. ALL Rights Reserved.</p>
	</div>
</div>
<script src="../js/client.js"></script>
<script src="../js/tripper.js"></script>
<script src="../js/tripper-control.js"></script>
<script src="../js/footer.js"></script>

<script>
	var stepInfo1 = $("#step-info-1");
	var stepInfo2 = $("#step-info-2");
	var stepInfo3 = $("#step-info-3");
	var stepInfo4 = $("#step-info-4");
	var stepInfo5 = $("#step-info-5");
	var stepInfo6 = $("#step-info-6");
	var stepBlock1 = $("#step-block-1");
	var stepBlock2 = $("#step-block-2");
	var stepBlock3 = $("#step-block-3");
	var stepBlock4 = $("#step-block-4");
	var stepBlock5 = $("#step-block-5");
	var stepBlock6 = $("#step-block-6");
	var stepButton2 = $("#step2");
	var stepButton3 = $("#step3");
	var stepButton4 = $("#step4");
	var stepButton5 = $("#step5");
	var stepButton6 = $("#step6");
	var comboIndex;

	init();
	
	function init() {
		stepInfo1.show();
		stepBlock1.show();
	}
	
	function selectCombo(index) {
		comboIndex = index;
		scroll(0, 0);
		stepButton2.css("background-color", "#FEC504");
		stepInfo1.hide();
		stepBlock1.hide();
		stepInfo2.show();
		stepBlock2.show();
	}

	function agreement() {
		scroll(0, 0);
		stepButton3.css("background-color", "#FEC504");
		stepInfo2.hide();
		stepBlock2.hide();
		stepInfo3.show();
		stepBlock3.show();
		$(".order-time-block").bind("click", function() { selectDate(); });
	}
	
	function selectDate() {
		scroll(0, 0);
		stepButton4.css("background-color", "#FEC504");
		stepInfo3.hide();
		stepBlock3.hide();
		stepInfo4.show();
		stepBlock4.show();
	}
	
	function submitInfo() {
		scroll(0, 0);
		stepButton5.css("background-color", "#FEC504");
		stepInfo4.hide();
		stepBlock4.hide();
		stepInfo5.show();
		stepBlock5.show();
	}
	
	function pay() {
		scroll(0, 0);
		stepButton6.css("background-color", "#FEC504");
		stepInfo5.hide();
		stepBlock5.hide();
		stepInfo6.show();
		stepBlock6.show();
	}
</script>
</body>
</html>