<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Orange 9</title>
<link rel="stylesheet" href="../css/bootstrap.min.css"/>
<link rel="stylesheet" href="../css/header.css"/>
<link rel="stylesheet" href="../css/show.css"/>
<link rel="stylesheet" href="../css/zoom.css"/>
<script src="../js/jquery-1.11.2.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/views-nav.js"></script>
</head>
<body>
<div class="header border-bottom">
	<span class="orange">ORANGE</span>
	<span class="nine">9</span>
	<div class="nav-btn" onclick="login()">用户登录</div>
	<div class="nav-btn" onclick="question()">常见问题</div>
	<div class="nav-btn nav-btn-selected">作品展示</div>
	<div class="nav-btn" onclick="order()">在线预约</div>
	<div class="nav-btn" onclick="combo()">服务套餐</div>
	<div class="nav-btn" onclick="index()">首页</div>
</div>

<div class="container">
<div class="row orange-less-bc">
<div id="img-container" class="col-lg-offset-1 col-lg-11">
</div>
</div>
</div>

<div class="footer border-top">
	<div>
		<div id="block1" class="orange-block orange-trans bc-orange2"></div>
		<div id="block2" class="orange-block orange-trans bc-orange1"></div>
		<div id="block3" class="orange-block orange-trans bc-orange0">杭</div>
		<div id="block4" class="orange-block orange-trans bc-orange1">州</div>
		<div id="block5" class="orange-block orange-trans bc-orange2">九</div>
		<div id="block6" class="orange-block orange-trans bc-orange3">橙</div>
		<div id="block7" class="orange-block orange-trans bc-orange0">文</div>
		<div id="block8" class="orange-block orange-trans bc-orange1">化</div>
		<div id="block9" class="orange-block orange-trans bc-orange2">创</div>
		<div id="block10" class="orange-block orange-trans bc-orange3">意</div>
		<div id="block11" class="orange-block orange-trans bc-orange0">有</div>
		<div id="block12" class="orange-block orange-trans bc-orange1">限</div>
		<div id="block13" class="orange-block orange-trans bc-orange2">公</div>
		<div id="block14" class="orange-block orange-trans bc-orange3">司</div>
		<div id="block15" class="orange-block orange-trans bc-orange2"></div>
		<p style="float:left;margin-left: 5px;margin-top: 5px;">| Copyrights Orange 9. ALL Rights Reserved.</p>
	</div>
</div>
<script src="../js/client.js"></script>
<script src="../js/tripper.js"></script>
<script src="../js/tripper-control.js"></script>
<script src="../js/footer.js"></script>

<script>
	var picnmlist = [1, 11, 7, 10, 4, 8, 12, 13, 14, 16, 15, 17, 18, 19, 20, 6, 5, 2, 3, 9];
	var pichtml = "";
	
	init();
	
	function init() {
		for (var i in picnmlist) {
			var imgname = picnmlist[i];
			pichtml += (createPicComponent(i, imgname));
		}
		$("#img-container").html(pichtml);
		for (var i in picnmlist) {
			new Tripper("pic-lb-" + i, "ORANGE 9", "pic-label-flip", "pic-frame-" + i);
		}
	}

	function createPicComponent(id, imgname) {
		return '<div id="pic-frame-' + id + '" class="photo-frame gallery">' 
				+ '<a href="../images/show/' + imgname + '.jpg"><img id="' + id + '" src="../images/show/' + imgname + '.jpg"/></a>' 
				+ '<div id="pic-lb-' + id +'" class="orange-trans">NO.' + id 
				+ '</div></div>';
	}
	
	function createModelComponent(id, imgname) {
		return '<div id="pic-model-' + id + '" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"><div class="modal-dialog none-model-border"><div class="modal-content"><div id="pic-model-body" class="modal-body pm-body"><img src="../images/show/' + imgname + '.jpg"/></div></div></div></div>';
	}
</script>
<script src="../js/zoom.js"></script>
</body>
</html>