<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Orange 9 System</title>
<link rel="stylesheet" type="text/css" href="../css/bootstrap-system.css"/>
<link rel="stylesheet" type="text/css" href="../css/system.css"/>
<link rel="stylesheet" type="text/css" href="../css/system/order.css"/>
<link rel="stylesheet" type="text/css" href="../css/sidebar/component.css" />
<script src="../js/jquery-1.11.2.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
<style>
p.transfer-label {
}

p.transfer-label img {
	width:40px;
}

div.upload-container {
	max-height:200px;
	overflow-y:auto;
}

div.upload-block {
	width:100px;
	border:1px solid #E3E3E3;
	border-radius:4px;
	padding:10px;
	margin:10px;
	float:left;
}

div.upload-block img {
	width:100%;
}

div.upload-bar {
	margin-bottom:5px;
	height:5px;
	border-radius:0;
}

span.upload-remove {
	float:right;
	margin-bottom:-15px;
	color:#D9534F;
}

span.upload-remove:hover {
	cursor:pointer;
}
</style>
</head>
<body>
<div id="st-container" class="st-container">
<div class="st-pusher">
	<div style="text-align:center;">
		<p class="login-header"><span>ORANGE</span> 9 SYSTEM</p>
	</div>
	
	<nav class="st-menu st-effect-3">
		<h2 class="icon icon-lab"></h2>
		<ul>
			<li><a class="icon icon-data" href="#">订单一览</a></li>
			<li><a class="icon icon-study" href="#">拍摄中(5)</a></li>
			<li><a class="icon icon-study" href="#">导图中(3)</a></li>
			<li><a class="icon icon-photo" href="#">修皮肤及褶皱(10)</a></li>
			<li><a class="icon icon-photo" href="#">修背景(4)</a></li>
			<li><a class="icon icon-photo" href="#">截图液化(3)</a></li>
			<li><a class="icon icon-location" href="#">等待审图(8)</a></li>
			<li><a class="icon icon-location" href="#">完成(11)</a></li>
			<li><a class="icon icon-location" href="#">员工管理</a></li>
		</ul>
	</nav>
	
	<div id="st-trigger-effects">
		<button class="btn btn-warning nav-btn" data-effect="st-effect-3">
			<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
		</button>
	</div>
	
	<div class="order-block">
		<p class="model-label transfer-label">
			单号：<span>O900001</span>
			<span id="time-label" style="color:#F0AD4E;">剩余时间</span>：<span id="remainTime"></span>
		</p>
		<p class="model-label transfer-label">
			导图人：<img src="../images/header/old_man.png"/><span>李学华</span>
			<button class="btn btn-danger">催一下</button>
			<button class="btn btn-success" data-toggle="modal" data-target="#uploadImagesModal">导图</button>
		</p>
		<div class="progress" style="margin-bottom:0;">
			<div id="time-bar" class="progress-bar progress-bar-success"
				role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:100%">
			</div>
		</div>
	</div>
	
	<div id="uploadImagesModal" class="modal fade text-left" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title">图片上传</h4>
				</div>
				<div class="modal-body">
					<div id="upload-container" class="upload-container">
						<!--
						<div class="upload-block">
							<div class="progress upload-bar">
								<div class="progress-bar progress-bar-success"
									role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:0%">
								</div>
							</div>
							<span class="glyphicon glyphicon-remove upload-remove"></span>
							<img id="upload-img-' + id + '" src="../images/post/1.jpg"/>
						</div>
						-->
					</div>
					<div class="clear"></div>
				</div>
				<div class="modal-footer">
					<input class="btn btn-primary" style="float:left;" type="file" multiple="multiple" id="upload-image"/>
					<button type="button" class="btn btn-success" style="float:right;">开始上传</button>
					<button type="button" class="btn btn-info" style="float:right;" onclick="emptyUploadContainer()">清空</button>
				</div>
			</div>
		</div>
	</div>
</div>
</div>
<script src="../js/svg/classie.js"></script>
<script src="../js/sidebar/sidebarEffects.js"></script>
<script>
	var fileList = [];
	var fileCount = 0;
	var uploadContainer = $("#upload-container");
	
	document.getElementById("upload-image").onchange = selectImage;
	
	function emptyUploadContainer() {
		$("#upload-container").empty();
	}
	
	function selectImage(event) {
		if (this.files) {
			for (var i in this.files) {
				var file = this.files[i];
				if (typeof(file) == "object") {
					var fileReader = new FileReader();
					fileReader.fileIndex = fileCount;
					fileReader.fileLoaded = 0;
					fileReader.fileLoadedTotal = file.size;
					fileReader.onload = function(event) {
						$("#upload-img-" + event.currentTarget.fileIndex).attr("src", event.target.result);
					};
					fileReader.onprogress = function(event) {
						var fr = event.currentTarget;
						fr.fileLoaded += event.loaded;
						var loadPercent = Math.floor((fr.fileLoaded / fr.fileLoadedTotal) * 100);
						$("#upload-bar-" + fr.fileIndex).css("width", loadPercent + "%");
					};
					fileReader.onloadstart = function(event) {
						uploadContainer.html(uploadContainer.html() + getUploadBlock(event.currentTarget.fileIndex));
					};
					fileReader.readAsDataURL(file);
					fileCount++;
				}
			}
		}
	}
	
	function removeSelectedImage(id) {
		$("#update-block-" + id).remove();
	}
	
	function getUploadBlock(id) {
		return '<div id="update-block-' + id + '" class="upload-block"><div class="progress upload-bar">'
			+ '<div id="upload-bar-' + id + '" class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:0%"></div></div>'
			+ '<span class="glyphicon glyphicon-remove upload-remove" onclick="removeSelectedImage(' + id + ')"></span>'
			+ '<img id="upload-img-' + id + '" src="../images/loading.gif"/></div>';
	}
	
	var startTime = new Date();
	var limitSecond = 3 * 60;
	
	//caculateTime();
	
	function caculateTime() {
		var now = new Date();
		var diffSecond = Math.floor((now.getTime() - startTime.getTime()) / 1000);
		var remainSecond = Math.floor(limitSecond - diffSecond);
		var diffTimeLabel = getDiffTime(Math.abs(remainSecond));
		var diffPercent = 0;
		if (remainSecond > 0) {
			diffPercent = (remainSecond / limitSecond).toFixed(2) * 100;
			if (diffPercent < 65) {
				if (!$("#time-bar").hasClass("progress-bar-warning")) {
					$("#time-bar").removeClass("progress-bar-success");
					$("#time-bar").addClass("progress-bar-warning");
				}
			}
			if (diffPercent < 35) {
				if (!$("#time-bar").hasClass("progress-bar-danger")) {
					$("#time-bar").removeClass("progress-bar-success");
					$("#time-bar").removeClass("progress-bar-warning");
					$("#time-bar").addClass("progress-bar-danger");
					$("#remainTime").css("color", "#D9534F");
				}
			}
		} else {
			if ($("#time-label").text() == "剩余时间") {
				$("#time-label").text("已超时")
			}
		}
		$("#time-bar").css("width", diffPercent + "%");
		$("#remainTime").text(diffTimeLabel);
		setTimeout(arguments.callee, 1000);
	}
	
	function getDiffTime(totalSecond) {
		var remainSecond = totalSecond;
		var diffHour = Math.floor(remainSecond / 3600);
		remainSecond -= diffHour * 3600;
		var diffMinute = Math.floor(remainSecond / 60);
		remainSecond -= diffMinute * 60;
		var result = "";
		if (diffHour) {
			result += diffHour + "小时";
		}
		if (diffMinute) {
			result += diffMinute + "分";
		}
		if (remainSecond) {
			result += remainSecond + "秒";
		}
		return result;
	}
</script>
</body>
</html>